.main-container {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  font-family: Calibri, sans-serif;
  background-color: white;

  & .left-sidebar-container {
    width: 30vw;

    & .input-value {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      box-shadow: none;
      width: 100%;
    }

    & .add-button {
      margin-top: 10px;
    }
    & .save-button {
      margin-top: 10px;
      margin-left: 10px;
    }
    & .panel {
      margin-bottom: 10px;
    }
  }

  .main-container-resume-section {
    width: 70vw;
    background-color: rgb(248, 249, 250);
    // border: solid blue 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow-y: scroll;

    & .resume-details {
      display: flex;
      width: 60%;
      height: 100%;
      // margin-left: 10%;
      box-shadow: 0px 0px 6px 0px grey;
      background-color: #ffffff !important;
      & .left-section-primary-details {
        width: 60%;
        padding-left: 5%;
        padding-top: 5%;
        background-color: #ffffff !important;
        border-color: white !important;
        border-right-color: white !important;

        & .full-name {
          font-size: 48px;
          font-family: Merriweather;
          color: #000000;
          background-color: transparent;
          font-weight: 700;
          font-style: normal;
          font-variant: normal;
          text-decoration: none;
          vertical-align: baseline;
          white-space: pre;
          margin-bottom: 5px;
        }

        & .header {
          margin-bottom: 10px;
        }
      }
      & .right-section-secondary-details {
        width: 39%;
        padding-top: 5%;
        background-color: #ffffff;
        border-color: white;
        padding-left: 3%;
        padding-right: 5%;
      }
      & .section-container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;

        & .section-heading {
          font-size: 14px;
          font-family: Open Sans;
          color: #2079c7;
          background-color: transparent;
          font-weight: 700;
          font-style: normal;
          font-variant: normal;
          text-decoration: none;
          vertical-align: baseline;
          white-space: pre;
          text-transform: uppercase;
        }
        & .section-details {
          margin-top: 20px;
          font-family: Merriweather;
          color: #000000;
          background-color: transparent;
          font-style: normal;
          font-variant: normal;
          text-decoration: none;
          vertical-align: baseline;

          &.name {
            font-size: 16px;
            font-weight: 700;
          }
          &.location {
            font-size: 16px;
            font-weight: 400;
          }
          &.section-title {
            font-size: 16px;
            text-decoration: none;
            font-style: italic;
          }
        }
        & .duration {
          font-size: 10px;
          background-color: transparent;
          font-weight: 400;
          font-style: normal;
          font-variant: normal;
          text-decoration: none;
          vertical-align: baseline;
          white-space: pre;
          text-transform: uppercase;
        }
        & .description {
          font-size: 14px;
          background-color: transparent;
          font-weight: 400;
          font-style: normal;
          font-variant: normal;
          text-decoration: none;
          vertical-align: baseline;
          white-space: break-spaces;
        }
        & .right-section {
          &.description {
            font-size: 14px;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: break-spaces;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:600px) {
  .conditional-menu-item {
    display: block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sidebar-toggle {
    display: block;
    cursor: pointer;
  }
  .main-container {
    & .left-sidebar-container {
      width: 100vw;
    }

    & .main-container-resume-section {
      width: 100vw;
      & .resume-details {
        width: 100%;

        & .left-section-primary-details {
          & .full-name {
            font-size: 2rem;
          }
        }
        & .section-container {
          width: 100%;
          & .section-heading {
            font-size: 0.7rem;
            word-wrap: break-word;
            width: 100%;
          }
        }
      }

    }
  }
}