.menu-items {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

#navbarScrollingDropdown {
  color: white;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.conditional-menu-item {
  display: none;
}

.sidebar-toggle {
  display: none;
}
